---
import TitleCard from "../components/TitleCard.astro";
import PitchCard from "../components/PitchCard.astro";
import SectorsWorkedWith from "../components/SectorsWorkedWith.astro";
import ContactForm from "../components/ContactForm.astro";
import ContactUs from "../components/ContactUs.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Triple Crown Digital</title>
  </head>
  <body>
    <!-- Container -->
    <div class="flex flex-col gap-12 px-4 py-6 max-w-5xl mx-auto pb-16">
      <!-- Title card + profiles -->
      <TitleCard />

      <!-- Pitch card -->
      <PitchCard />

      <!-- Sectors we have worked with -->
      <SectorsWorkedWith />

      <!-- Contact form -->
      <ContactForm />
      <!-- Flowbite (for out-of-the-box components) -->
      <script
        is:inline
        src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
      ></script>
    </div>
  </body>
</html>
