---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Triple Crown Digital</title>
  </head>
  <body>
    <!-- Container -->
    <div class="flex flex-col gap-12 px-4 py-6 max-w-5xl mx-auto pb-16">
      <!-- Title card + profiles -->
      <div
        class="title-card w-full h-15 rounded-xl p-4 flex flex-col gap-8 items-center justify-center h-96 shadow-xl"
      >
        <div class="title-card-background"></div>
        <h1 class="text-3xl">Triple Crown Digital</h1>
        <span
          >We help founders, startups and step-ups grow their digital asset
          businesses.</span
        >
        <div class="flex gap-8 w-3/4 justify-around">
          <!-- Beatrice O'Carroll -->
          <div
            id="beatriceProfile"
            class="flex flex-col gap-4 items-center cursor-pointer"
            data-modal-target="modalBeatrice"
            data-modal-toggle="modalBeatrice"
          >
            <img
              class="h-40 w-40 rounded-full object-cover"
              src="/profile-imgs/beatrice-oconnell.jpg"
              alt="Beatrice O'Carroll"
            />
            <span>Beatrice O'Carroll</span>
          </div>

          <!-- Christine Sandler -->
          <div
            id="christineProfile"
            class="flex flex-col gap-4 items-center cursor-pointer"
            data-modal-target="modalChristine"
            data-modal-toggle="modalChristine"
          >
            <img
              class="h-40 w-40 rounded-full object-cover"
              src="/profile-imgs/christine-sandler.jpg"
              alt="Christine Sandler"
            />
            <span>Christine Sandler</span>
          </div>

          <!-- Noelle Acheson -->
          <div
            id="noelleProfile"
            class="flex flex-col gap-4 items-center cursor-pointer"
            data-modal-target="modalNoelle"
            data-modal-toggle="modalNoelle"
          >
            <img
              class="h-40 w-40 rounded-full object-cover"
              src="/profile-imgs/noelle-acheson.jpg"
              alt="Noelle Acheson"
            />
            <span>Noelle Acheson</span>
          </div>
        </div>
      </div>

      <!-- Pitch card -->
      <div class="pitch-card flex p-4 rounded-xl flex-grow shadow-xl h-96">
        <div class="flex flex-col w-3/5 gap-4 p-4">
          <h2 class="text-2xl">Pitch:</h2>
          <span
            >Triple Crown Digital aims to support businesses expanding the
            universe of crypto marketplaces by helping with their go-to-market,
            liquidity and messaging strategies. By leveraging decades of team
            experience in the digital asset industry as well as skill sets honed
            at traditional finance firms and crypto startups, we work closely
            with leadership teams to reach their milestones and achieve goals. 
            Send us an email if you’d like to chat and see how we could be
            useful.
          </span>
        </div>
        <div class="flex flex-grow justify-center items-center">
          <img class="rounded-xl h-60 w-60" src="/site-imgs/logo.jpeg" />
        </div>
      </div>

      <!-- Sectors we have worked with -->
      <div class="bg-[#D1EAE6] p-8 rounded-xl flex flex-col gap-4">
        <h2 class="text-2xl">Sectors we have worked with:</h2>
        <ul class="grid grid-cols-2 gap-2 list-disc px-4">
          <li>Issuers</li>
          <li>Digital asset custody</li>
          <li>Liquidity management</li>
          <li>Market infrastructure builders</li>
          <li>Venture capital</li>
          <li>Asset management</li>

          <li>Blockchain ecosystems</li>
          <li>Blockchain-based services</li>
          <li>Trading desks</li>
          <li>Insurance companies</li>
          <li>e-Commerce</li>
          <li>Media businesses</li>
        </ul>
      </div>

      <!-- Contact form -->
      <div class="pitch-card flex flex-col p-8 rounded-xl flex-grow shadow-xl">
        <h2 class="text-2xl">Contact form</h2>
        <form
          class="p-4 flex flex-col gap-8"
          id="contact-form"
          onsubmit="event => event.preventDefault(); return false"
        >
          <!-- Email -->
          <input
            class="bg-white shadow-xl rounded-xl w-full h-10 p-4"
            placeholder="Email"
            name="email"
            required
          />

          <!-- Subject header -->
          <input
            class="bg-white shadow-xl rounded-xl w-full h-10 p-4"
            placeholder="Subject header"
            name="header"
            required
          />

          <!-- Message -->
          <textarea
            placeholder="Type your message here"
            class="bg-white shadow-xl rounded-xl w-full py-4 border-none"
            rows="10"
            name="message"
            required
          >
          </textarea>

          <button
            class="bg-[#D1EAE6] font-semibold text-xl w-40 mx-auto rounded-full shadow-xl px-4 py-2"
            >Send</button
          >
        </form>
      </div>
    </div>

    <!-- Modals -->

    <!-- Christine's modal -->
    <div
      id="modalChristine"
      tabindex="-1"
      class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full overlay w-full"
    >
      <div class="relative w-full max-h-full max-w-xl">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
          >
            <h2 class="text-2xl text-center w-full">Christine Sandler</h2>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="modalChristine"
            >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>

          <div class="p-4 flex flex-col items-center gap-4">
            <img
              class="h-80 w-80 rounded-full object-cover"
              src="/profile-imgs/christine-sandler.jpg"
              alt="Christine Sandler"
            />
            <p class="p-8">
              Christine began her award-winning career in traditional finance
              with W. H. Reaves & Co, moving on to Spear Leeds and Kellogg,
              Bloomberg Tradebook, Archipelago, Merrill Lynch, NYSE Euronext and
              Barclays. She joined the crypto industry in 2018 as Head of US
              Institutional Sales at Coinbase, before leading as Head of Sales
              and Marketing and Research at Fidelity Digital Assets, Partner at
              Walden Bridge Capital and Chief Revenue Officer at Hashnote. As
              well as her key contributions to both traditional and crypto
              finance, Christine co-founded the Women’s Leadership Action
              Network, has chaired the Women in Finance Committee for the
              Security Trader’s Association, and serves as a Trustee of two
              public charter schools serving autistic students in New York. When
              she’s not on the phone to clients and contacts, Christine can be
              found drafting strategy documents, shifting between New York and
              Long Island, and walking her dog, Ponzi.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Beatrice's modal -->
    <div
      id="modalBeatrice"
      tabindex="-1"
      class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full overlay w-full"
    >
      <div class="relative w-full max-h-full max-w-xl">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
          >
            <h2 class="text-2xl text-center w-full">Beatrice O'Carroll</h2>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="modalBeatrice"
            >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>

          <div class="p-4 flex flex-col items-center gap-4">
            <img
              class="h-80 w-80 rounded-full object-cover"
              src="/profile-imgs/beatrice-oconnell.jpg"
              alt="Beatrice O'Carroll Sandler"
            />
            <p class="p-8">
              Beginning with Merrill Lynch and moving through analytical,
              product development and client-facing roles at AIG, Dresdner
              Kleinwort Wasserstein, Commerzbank, Deutsche Bank, BNP Paribas
              Asset Management and Citi, Bea moved into the crypto industry in
              2015 as Director of Business Development for itBit. She went on to
              lead crypto trading at Circle, started her own OTC desk
              Reciprocity Trading, was CEO of Nautilus Tech, acted as Advisor
              for Strategic Partnerships at Makara and led as Managing Director
              at Radkl, MPCH and Rockaway. Bea divides her time between the US
              and Ireland and is an advocate for privacy technology as well as
              formerly incarcerated women and their children through her work
              with Hour Children.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Noelle's modal -->
    <div
      id="modalNoelle"
      tabindex="-1"
      class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full overlay w-full"
    >
      <div class="relative w-full max-h-full max-w-xl">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
          >
            <h2 class="text-2xl text-center w-full">Noelle Acheson</h2>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="modalNoelle"
            >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>

          <div class="p-4 flex flex-col items-center gap-4">
            <img
              class="h-80 w-80 rounded-full object-cover"
              src="/profile-imgs/noelle-acheson.jpg"
              alt="Noelle Acheson"
            />
            <p class="p-8">
              Christine began her award-winning career in traditional finance
              with W. H. Reaves & Co, moving on to Spear Leeds and Kellogg,
              Bloomberg Tradebook, Archipelago, Merrill Lynch, NYSE Euronext and
              Barclays. She joined the crypto industry in 2018 as Head of US
              Institutional Sales at Coinbase, before leading as Head of Sales
              and Marketing and Research at Fidelity Digital Assets, Partner at
              Walden Bridge Capital and Chief Revenue Officer at Hashnote. As
              well as her key contributions to both traditional and crypto
              finance, Christine co-founded the Women’s Leadership Action
              Network, has chaired the Women in Finance Committee for the
              Security Trader’s Association, and serves as a Trustee of two
              public charter schools serving autistic students in New York. When
              she’s not on the phone to clients and contacts, Christine can be
              found drafting strategy documents, shifting between New York and
              Long Island, and walking her dog, Ponzi.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Flowbite (for out-of-the-box components) -->
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .title-card {
    position: relative;
    overflow: hidden;
  }

  .title-card-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("public/site-imgs/vases.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .title-card-background::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 225, 230, 0.5);
    z-index: -2;
  }

  .pitch-card {
    background-color: #f2e3ac;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
</style>
