<div
  class="pitch-card flex flex-col p-8 rounded-xl flex-grow shadow-xl gap-8 min-h-48"
>
  <h2 class="text-2xl">Contact Details</h2>

  <p>
    You can reach out to us at: <a
      href="mailto:noelle@triplecrown.digital"
      class="text-blue-500 underline"
    >
      noelle@triplecrown.digital</a
    >
  </p>
</div>
