<div class="bg-[#D1EAE6] p-8 rounded-xl flex flex-col gap-4">
  <h2 class="text-2xl">Sectors we have worked with:</h2>
  <ul class="grid lg:grid-cols-2 sm:gap-4 lg:gap-2 list-disc px-4">
    <li>Issuers</li>
    <li>Digital asset custody</li>
    <li>Liquidity management</li>
    <li>Market infrastructure builders</li>
    <li>Venture capital</li>
    <li>Asset management</li>

    <li>Blockchain ecosystems</li>
    <li>Blockchain-based services</li>
    <li>Trading desks</li>
    <li>Insurance companies</li>
    <li>e-Commerce</li>
    <li>Media businesses</li>
  </ul>
</div>
