---
import "../styles/global.css";
import Profile from "./profile/Profile.astro";
---

<!-- Title card + profiles -->
<div
  class="title-card w-full h-15 rounded-xl p-4 flex flex-col gap-8 items-center justify-center lg:h-96 shadow-xl background"
>
  <div class="title-card-background"></div>
  <h1 class="text-4xl">Triple Crown Digital</h1>
  <span
    >We help founders, startups and step-ups grow their digital asset
    businesses.</span
  >
  <div
    class="flex max-sm:flex-col gap-8 justify-between max-sm:w-full nax-lg:w-[70%]"
  >
    <!-- Beatrice O'Carroll -->
    <Profile
      name="Bea O'Carroll"
      image="/profile-imgs/beatrice-oconnell.jpg"
      description=`Beginning with Merrill Lynch and moving through analytical, product
          development and client-facing roles at AIG, Dresdner Kleinwort
          Wasserstein, Commerzbank, Deutsche Bank, BNP Paribas Asset Management
          and Citi, Bea moved into the crypto industry in 2015 as Director of
          Business Development for itBit. She went on to lead crypto trading at
          Circle, started her own OTC desk Reciprocity Trading, was CEO of
          Nautilus Tech, acted as Advisor for Strategic Partnerships at Makara
          and led as Managing Director at Radkl, MPCH and Rockaway. Bea divides
          her time between the US and Ireland and is an advocate for privacy
          technology as well as formerly incarcerated women and their children
          through her work with Hour Children.`
      `
      id="beatriceProfile"
      modalId="modalBeatrice"
    />

    <!-- Beatrice O'Carroll -->
    <Profile
      name="Christine Sandler"
      image="/profile-imgs/christine-sandler.jpg"
      description=`Christine began her award-winning career in traditional finance with
          W. H. Reaves & Co, moving on to Spear Leeds and Kellogg, Bloomberg
          Tradebook, Archipelago, Merrill Lynch, NYSE Euronext and Barclays. She
          joined the crypto industry in 2018 as Head of US Institutional Sales
          at Coinbase, before leading as Head of Sales and Marketing and
          Research at Fidelity Digital Assets, Partner at Walden Bridge Capital
          and Chief Revenue Officer at Hashnote. As well as her key
          contributions to both traditional and crypto finance, Christine
          co-founded the Women’s Leadership Action Network, has chaired the
          Women in Finance Committee for the Security Trader’s Association, and
          serves as a Trustee of two public charter schools serving autistic
          students in New York. When she’s not on the phone to clients and
          contacts, Christine can be found drafting strategy documents, shifting
          between New York and Long Island, and walking her dog, Ponzi.`
      id="christineProfile"
      modalId="modalChristine"
    />

    <!-- Beatrice O'Carroll -->
    <Profile
      name="Noelle Acheson"
      image="/profile-imgs/noelle-acheson.jpg"
      description=`Noelle is a crypto and blockchain enthusiast, with a background in
          finance and investment. She has a strong interest in the intersection
          of technology and finance, and is passionate about using blockchain
          technology to improve the financial system. Noelle has experience
          working in the crypto industry, having worked as a blockchain
          developer and project manager for several startups. She is also a
          member of the Blockchain Association of America and has been involved
          in various blockchain events and conferences. Noelle is a strong
          advocate for the adoption of blockchain technology in the financial
          sector, and is committed to using it to improve the efficiency and
          security of the financial system.`
      id="noelleProfile"
      modalId="modalNoelle"
    />
  </div>
</div>

<!-- <script>
  document.addEventListener("DOMContentLoaded", () => {
    const bgElement = document.querySelector(".title-card-background");
    const img = new Image();
    img.src = "/vases.jpg";
    img.onload = () => {
      (bgElement as HTMLElement).style.backgroundImage = `url(${img.src})`;
      bgElement.classList.add("loaded");
    };
  });
</script> -->
